@charset "UTF-8";
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter-SemiBold.ttf);
  font-weight: 600;
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button {
  background: none;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  line-height: 1;
  font-family: Inter;
  font-size: 18px;
}

:root {
  --white-color: #fff;
  --light-grey: rgb(224, 224, 224, 0.12);
  --grey: rgb(102, 102, 102, 0.60);
  --black: rgb(0, 0, 0, 0.87);
  --orange: #fc9041;
  --dark-green: #184A38;
  --medium-green: #41705A;
  --light-green: #BAE4C6;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

main {
  flex: 1 0 auto;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.header__logo {
  padding: 38px 0 0 0;
}

.accent__logo {
  color: var(--dark-green);
}

.main__page {
  padding-top: 230px;
  width: 100%;
  height: 100vh;
  background: url(/img/main_bg.jpg) 0 0 no-repeat;
  background-size: cover;
  background-position: 40% 0;
}

.main__body {
  max-width: 585px;
}

.main__title {
  color: var(--black);
  font-weight: 600;
  font-size: 60px;
  line-height: 150%;
}

.main__suptitle {
  color: var(--black);
  font-weight: 500;
  font-size: 23px;
  line-height: 150%;
  margin-top: 20px;
}

.main__buttons {
  margin-top: 60px;
}

.button__body {
  display: flex;
  align-items: center;
  width: 192px;
  height: 60px;
  border-radius: 25px;
  background-color: var(--black);
  overflow: hidden;
  transition: all 0.2s ease;
}

.button__body:hover, .button__body:focus {
  background-color: var(--dark-green);
  transform: scale(1.01);
  cursor: pointer;
}

.button__items {
  display: flex;
}

.button__logo > img {
  margin-left: 38px;
}

.button__text > img {
  display: block;
  margin-left: 15px;
}

.button__text > img:not(:last-of-type) {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .main__page {
    background: url(/img/main_bg_768.jpg) 0 0 no-repeat;
    background-position: 0 -20%;
  }
  .main__buttons {
    margin-top: 50px;
  }
}
@media (max-width: 480px) {
  .main__page {
    padding-top: 140px;
    background-position: 20% 80%;
  }
  .main__title {
    font-size: 35px;
  }
  .main__suptitle {
    font-size: 18px;
  }
  .main__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  .button__body {
    width: 163px;
  }
  .button__logo > img {
    margin-left: 20px;
  }
}
@media (max-width: 320px) {
  .main__buttons {
    margin-top: 25px;
  }
}
.advances__body {
  padding: 70px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.advances__items {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.advances__item {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  max-width: 380px;
}

.advances__img {
  border-radius: 50%;
}

.advances__img > img {
  padding: 22px 22px 22px 22px;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1);
}

.advances__text {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.advances__suptitle {
  flex: 1 0 auto;
  font-weight: 500;
  font-size: 23px;
  line-height: 150%;
  /* or 34px */
  /* High Emp */
  color: var(--black);
}

.advances__description {
  font-size: 18px;
  line-height: 150%;
  color: var(--grey);
}

@media (min-width: 1230px) {
  .advances__suptitle > span {
    white-space: nowrap;
  }
}
@media (max-width: 768px) {
  .advances__suptitle {
    font-size: 18px;
  }
  .advances__description {
    font-size: 16px;
  }
  .advances__item {
    flex-direction: column;
    row-gap: 15px;
  }
}
@media (max-width: 480px) {
  .advances__items {
    flex-direction: column;
    row-gap: 40px;
  }
}
.page__easyChoiсe {
  margin-top: 150px;
}

@media (max-width: 768px) {
  .page__easyChoiсe {
    margin-top: 56px;
  }
}
.easyChoice__body {
  display: flex;
  justify-content: space-between;
}

.easyChoice__body > div {
  flex: 1 0 auto;
  max-width: 488px;
}

.textContent__easyChoise {
  flex: 1 0 auto;
}

.title__easyChoice {
  font-weight: 500;
  font-size: 42px;
  line-height: 130%;
  color: var(--black);
  margin: 56px 0 60px;
}

.easyCoice__list-items {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.easyCoice__list-item > img, .easyCoice__list-item > source {
  display: block;
  margin-top: 10px;
}

.easyCoice__list-item {
  font-size: 18px;
  line-height: 150%;
  color: var(--black);
  padding-bottom: 37px;
}

.easyChoise__imgContent {
  display: flex;
  -moz-column-gap: 39px;
       column-gap: 39px;
}
.easyChoise__imgContent img {
  max-width: 100%;
}

.easyChoise__imgContent > img, .easyChoise__imgContent picture {
  display: block;
}
.easyChoise__imgContent > img:nth-last-of-type(2), .easyChoise__imgContent picture:nth-last-of-type(2) {
  margin-top: 56px;
}

@media (max-width: 990.98px) {
  .easyChoice__body > div {
    max-width: 353px;
  }
  .easyChoice__body {
    -moz-column-gap: 11px;
         column-gap: 11px;
  }
  .title__easyChoice {
    font-size: 35px;
  }
  .easyCoice__list-item {
    font-size: 16px;
  }
  .easyChoise__imgContent {
    -moz-column-gap: 11px;
         column-gap: 11px;
    display: flex;
    margin-top: 190px;
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .easyChoice__body {
    justify-content: center;
    flex-wrap: wrap;
  }
  .easyChoice__body > div {
    max-width: 100%;
  }
  .easyChoise__imgContent {
    margin-top: 10px;
  }
}
.page__order {
  margin-top: 90px;
  background-color: var(--light-grey);
}

.order__items {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
  justify-content: space-between;
  padding: 90px 0;
}
.order__items > div {
  flex: 1 1 50%;
}

.order__img-items {
  position: relative;
}

.order__img-item {
  margin-left: 215px;
}
.order__img-item:nth-of-type(2) img {
  filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.1));
}

.order__img-item._absolute {
  position: absolute;
  top: -20%;
  left: -69%;
  z-index: 30;
}

.order__img-items {
  position: relative;
}

.order__img-items::after {
  content: " ";
  position: absolute;
  display: block;
  top: 75%;
  left: 47%;
  width: 222px;
  height: 49px;
  background-image: url(/img/icons/order_section/switcher.png);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 30;
}

@media (max-width: 990.98px) {
  .order__img-item._absolute {
    top: -14%;
    left: -47%;
  }
  .order__img-item {
    margin-left: 200px;
  }
  .order__img-items::after {
    left: 10%;
  }
}
@media (max-width: 767.98px) {
  .order__items {
    flex: 1 1 auto;
    flex-direction: column-reverse;
    align-items: center;
  }
  .order__items .order__img-items {
    margin-top: 120px;
  }
  .order__items .order__img-item._absolute {
    top: -20%;
    left: -55%;
  }
  .order__items .order__img-item {
    margin-left: 215px;
  }
  .order__img-items::after {
    top: 105%;
  }
}
.order__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 130%;
  color: var(--black);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.order__description-items {
  display: flex;
}

.order__description-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--black);
  margin-top: 40px;
}
.order__description-item:not(:first-of-type) {
  padding-left: 30px;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

@media (max-width: 768px) {
  .order__description-items {
    flex-wrap: wrap;
    padding-left: 30px;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
  }
  .order__description-items > div {
    flex: 1 1 auto;
  }
  .order__description-item:nth-of-type(1) {
    margin-top: 0;
  }
  .order__description-item:not(:first-of-type) {
    padding-left: 0;
    border-left: none;
  }
  .order__title {
    border-bottom: none;
  }
}
.order__payments-items {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: center;
  padding-top: 40px;
  font-weight: 500;
  font-size: 23px;
  line-height: 150%;
  color: var(--black);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.order__payments-img-item {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.order__payments-img-item img {
  display: block;
}

@media (max-width: 767.98px) {
  .order__title {
    font-size: 30px;
  }
  .order__description-item {
    font-size: 15px;
  }
  .order__payments-img-item {
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
  .order__payments-items {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.delivery__container {
  margin-top: 100px;
  position: relative;
}
.delivery__container ::after {
  content: "";
  background-image: url(/img/icons/delivery_section/bg_map.png);
  background-repeat: no-repeat;
  position: absolute;
  height: 475px;
  width: 543px;
  top: 0;
  left: 84%;
  z-index: -1;
}

.delivery__body {
  display: flex;
}
.delivery__body:only-child {
  flex: 0 1 50%;
}

.delivery__text-items {
  padding-bottom: 60px;
}

.delivery__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 130%;
  /* identical to box height, or 55px */
  /* High Emp */
  color: var(--black);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 48px 0 60px 0;
}

.delivery__description {
  max-width: 483px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--black);
}
.delivery__description p {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .delivery__title {
    font-size: 35px;
  }
  .delivery__description {
    font-size: 16px;
  }
}
.delivery__text-block-image img {
  max-width: 100%;
  margin-top: 60px;
}

@media (max-width: 768px) {
  .delivery__text-items {
    position: relative;
  }
  .delivery__text-block-image img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 700px;
    height: auto;
  }
}
.delivery__img-items {
  display: flex;
}

.delivery__img-item {
  width: 50%;
}
.delivery__img-item > div img {
  max-width: 100%;
  filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.1));
}
.delivery__img-item:first-of-type {
  margin-top: 27%;
}
.delivery__img-item:only-child {
  width: 100%;
}
.delivery__img-item > :nth-of-type(1) {
  text-align: right;
  margin-bottom: 20px;
}
.delivery__img-item > :nth-of-type(2) {
  text-align: left;
  margin-bottom: 20px;
}
.delivery__img-item > :nth-of-type(3) {
  text-align: center;
}/*# sourceMappingURL=style.css.map */