@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-SemiBold.ttf);
    font-weight: 600;
}

//============================================

*, *::after, *::before {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

button {
    background: none;
}
html,
body {
    height: 100%;
    line-height: 1;
}

body {
    line-height: 1;
    font-family: Inter;
    font-size: 18px;
}

//===================================
:root {
    --white-color: #fff;
    --light-grey: rgb(224, 224, 224, 0.12);
    --grey: rgb(102, 102, 102, 0.60);
    --black: rgb(0, 0, 0, 0.87);
    --orange: #fc9041;
    --dark-green: #184A38;
    --medium-green: #41705A;
    --light-green: #BAE4C6;
}




.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
main {
    flex: 1 0 auto;
}


//======================================================================

[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

//====Buttons========================================================

.button__body {
    display: flex;
    align-items: center;

    width: 192px;
    height: 60px;

    border-radius: 25px;
    background-color: var(--black);

    overflow: hidden;
    transition: all 0.2s ease;
}

.button__body:hover, .button__body:focus {
    background-color: var(--dark-green);
    transform: scale(1.01);
    cursor: pointer;
}

.button__items {
    display: flex;
}
.button__logo > img {
    margin-left: 38px;
}
.button__text > img {
    display: block;
    margin-left: 15px;
}

.button__text > img:not(:last-of-type) {
    margin-bottom: 5px;
}

//======================================================================
//======================================================================

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.header__logo {
    padding: 38px 0 0 0;
}
.accent__logo {
    color: var(--dark-green)
}

//=====lang switcher at home page====

// .header__container .languages {
//     background-color: transparent;
//     border-color: #41705A;
//     color: var(--dark-green);
// }

// .header__container .select-wrapper {
//     position: relative;
//     &::after {
//         border-color: var(--dark-green);
//     }
// }
//=====lang switcher at home page====

//======================================================================

.main__page {
    padding-top: 230px;
    width: 100%;
    height: 100vh;
    background: url(../img/main_bg.jpg) 0 0 no-repeat;
    background-size: cover;
    background-position: 40% 0;
}


.main__body {
    max-width: 585px;
    
}
.main__title {
    color: var(--black);
    font-weight: 600;
    font-size: 60px;
    line-height: 150%;
}
.main__suptitle {
    color: var(--black);
    font-weight: 500;
    font-size: 23px;
    line-height: 150%;

    margin-top: 20px;
}
.main__buttons {
    margin-top: 60px;
}



@media (max-width: 768px) {
    .main__page {
        background: url(../img/main_bg_768.jpg) 0 0 no-repeat;
        background-position: 0 -20%;
    }
    .main__buttons {
        margin-top: 50px;
    }

}

@media (max-width: 480px) {
    .main__page {
        padding-top: 140px;

        background-position: 20% 80%;
    }
    //====text====//
    .main__title {
        font-size: 35px;
    }
    .main__suptitle {
        font-size: 18px;
    }
    //====text====//
    //====buttons====//
    .main__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
    .button__body {
        width: 163px;
    }
    .button__logo > img {
        margin-left: 20px;
    }
    //====buttons====//
}
@media (max-width: 320px) {
    .main__buttons {
        margin-top: 25px;
    }
}

@media (max-height: 480px) {

    .main__page {
        padding-top: 150px;

        background-position: 20% 80%;
    }

    .main__buttons {
        margin-top: 30px;
    }

    .main__title {
        font-size: 35px;
    }
    .main__suptitle {
        font-size: 18px;
    }
}
//=======================ADVANCES-SECTION-START=========================================

.advances__body {
    padding: 70px 0;

    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.advances__items {
    display: flex;
    column-gap: 30px;
}
.advances__item {
    display: flex;
    column-gap: 20px;

    max-width: 380px;
}


.advances__img {
    border-radius: 50%;
}

.advances__img > img {
    padding: 22px 22px 22px 22px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1);
}
.advances__text {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.advances__suptitle {
    flex: 1 0 auto;
    font-weight: 500;
    font-size: 23px;
    line-height: 150%;
    /* or 34px */


    /* High Emp */

    color: var(--black);
}

.advances__description {
    font-size: 18px;
    line-height: 150%;

    color: var(--grey);
}

@media (min-width: 1230px) {
    .advances__suptitle > span {
        white-space: nowrap;
    }
}

@media (max-width: 768px) {
    .advances__suptitle {
        font-size: 18px;
    }
    .advances__description {
        font-size: 16px;
    }
    .advances__item {
        flex-direction: column;
        row-gap: 15px;
    }
}

@media (max-width: 480px) {
    .advances__items {
        flex-direction: column;
        row-gap: 40px;
    }
}

//=======================ADVANCES-SECTION-END=========================================
//=======================easyChoice-SECTION-START=========================================

.page__easyChoiсe {
    margin-top: 150px;
}

@media (max-width: 768px) {
    .page__easyChoiсe {
        margin-top: 56px;
    }
}

.easyChoice__body {
    display: flex;
    justify-content: space-between;
}

.easyChoice__body > div {
    flex: 1 0 auto;
    max-width: 488px;
}



.textContent__easyChoise {
    flex: 1 0 auto;
}
.title__easyChoice {
    font-weight: 500;
    font-size: 42px;
    line-height: 130%;

    color: var(--black);

    margin: 56px 0 60px;
}

.easyCoice__list-items {

    display: flex;
    column-gap: 20px;
}
.easyCoice__list-item > img, .easyCoice__list-item > source {
    display: block;
    margin-top: 10px;
}

.easyCoice__list-item {
    font-size: 18px;
    line-height: 150%;

    color: var(--black);

    padding-bottom: 37px;
}
.easyChoise__imgContent {
    display: flex;
    column-gap: 39px;
    
    & img {
        max-width: 100%;
    }
}

.easyChoise__imgContent > img, .easyChoise__imgContent picture {
    display: block;
    &:nth-last-of-type(2) {
        margin-top: 56px;
    }
}

@media (max-width: 990.98px) {
    //====//
    .easyChoice__body > div {
        max-width: 353px;
    }
    .easyChoice__body {
        column-gap: 11px;
    }
    //====//
    .title__easyChoice {
        font-size: 35px;
    }
    .easyCoice__list-item {
        font-size: 16px;
    }
    .easyChoise__imgContent {
        column-gap: 11px;
        display: flex;
        margin-top: 190px;
        justify-content: center;
    }
}

@media (max-width: 767.98px) {
    .easyChoice__body {
        justify-content: center;
        flex-wrap: wrap;
        & > div {
            max-width: 100%;
        }
    }  
    //====//
    .easyChoise__imgContent {
        margin-top: 10px;
    }
}
//=======================easyChoice-section-END========================================
//=======================order-section-START========================================

.page__order {
    margin-top: 90px;

    background-color: var(--light-grey);
}

.order__items {
    display: flex;
    column-gap: 25px;
    justify-content: space-between;
    & > div {
        flex: 1 1 50%;
    }

    padding: 90px 0;
}



.order__img-items {
    position: relative;
}

.order__img-item {
    margin-left: 215px;
    &:nth-of-type(2) img {
        filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.1));
    }
}



.order__img-item._absolute {
    position: absolute;
    top: -20%;
    left: -69%;

    z-index: 30;
}
.order__img-items {
    position: relative;
}
.order__img-items::after {
    content: " ";
    position: absolute;
    display: block;
    top: 75%;
    left: 47%;
    width: 222px;
    height: 49px;
    background-image: url(../img/icons/order_section/switcher.png);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    z-index: 30;
}



@media (max-width: 990.98px) {
    .order__img-item._absolute {
        top: -14%;
        left: -47%;    
    }
    .order__img-item {
        margin-left: 200px;
    }

    .order__img-items::after {
        left: 10%;
    }
}

@media (max-width: 767.98px) {
    .order__items {
        flex: 1 1 auto;
        flex-direction: column-reverse;
        align-items: center;
        .order__img-items {
            margin-top: 120px;
        }
        .order__img-item._absolute {
            top: -20%;
            left: -55%;    
        }
        .order__img-item {
            margin-left: 215px;
        }
    }
    .order__img-items::after {
        top: 105%;
    }
}

.order__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 130%;

    color: var(--black);

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    padding-bottom: 40px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.order__description-items {
    display: flex;
}
.order__description-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    color: var(--black);

    margin-top: 40px;

    &:not(:first-of-type) {
        padding-left: 30px;
        border-left: 1px solid rgba(0, 0, 0, 0.12);
    }
}

@media (max-width: 768px) {
    .order__description-items {
        flex-wrap: wrap;

        padding-left: 30px;
        border-left: 1px solid rgba(0, 0, 0, 0.12);
        & > div {
            flex: 1 1 auto;
        }
    }

    .order__description-item {
        &:nth-of-type(1) {
            margin-top: 0;
        }
        &:not(:first-of-type) {
            padding-left: 0;
            border-left: none;
        }
    }

    .order__title {
        border-bottom: none;
    }
}

.order__payments-items {
    display: flex;
    column-gap: 40px;
    align-items: center;

    padding-top: 40px;

    font-weight: 500;
    font-size: 23px;
    line-height: 150%;

    color: var(--black);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.order__payments-img-item {
    display: flex;
    column-gap: 30px;
    img {
        display: block;
    }
} 

@media (max-width: 767.98px) {
    .order__title {
        font-size: 30px;
    }
    .order__description-item {
        font-size: 15px;
    }
    .order__payments-img-item {
        column-gap: 5px;
    }
    .order__payments-items {
        column-gap: 10px;
    }
}

//=======================order-section-END========================================
//=======================delivery-section-START========================================


.delivery__container {
    margin-top: 100px;

    position: relative;
    &::after {
        content: "";
        background-image: url(../img/icons/delivery_section/bg_map.png);
        background-repeat: no-repeat;
        position: absolute;
        height: 475px;
        width: 543px;
        top: 0;
        left: 84%;
        
        z-index: -1;
    }
}

@media (max-width: 768px) {
    .delivery__container::after {
        background-image: url(../img/icons/delivery_section/bg_map.png);
        height: 357px;
        width: 156px;
    }
}

.delivery__body {
    display: flex;
    flex-wrap: wrap;
    & > div {
        flex: 0 1 50%;
    }
}

@media (max-width: 576px) {
    .delivery__body > div {
        flex: 1 1 100%;
    }
    .delivery__container::after {
        top: 64%;
        left: 30%;
        height: 475px;
        width: 543px;
        max-height: 357px;
    }
}

.delivery__text-items {
    padding-bottom: 60px;
}
.delivery__title {
    font-weight: 500;
    font-size: 42px;
    line-height: 130%;
    /* identical to box height, or 55px */


    /* High Emp */

    color: var(--black);

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    padding: 48px 0 60px 0;
}

.delivery__description {
    max-width: 483px;

    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    color: var(--black);
    p {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .delivery__title {
        font-size: 35px;
    }
    .delivery__description {
        font-size: 16px;
    }
}

.delivery__text-block-image img {
    max-width: 100%;

    margin-top: 60px;
}

// @media (max-width: 768px) {
//     .delivery__text-items {
//         position: relative;
//     }
//     .delivery__text-block-image img {
//         position: absolute;
//         bottom: 0;
//         left: 0;
//         width: 700px;
//         height: auto;
//     }
// }
.delivery__img-items {
    display: flex;
}
.delivery__img-item {
    width: 50%;
    & > div img {
        max-width: 100%;
        filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.1));
    }

    &:first-of-type {
        margin-top: 27%;
    }
    &:only-child {
        width: 100%;
    }
    & > :nth-of-type(1) {
        text-align: right;
        margin-bottom: 20px;
    }
    & > :nth-of-type(2) {
        text-align: left;
        margin-bottom: 20px;
    }
    & > :nth-of-type(3) {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .delivery__img-items {
        flex-direction: column;
    }
    ._screen {
        position: relative;
        margin: 200px 0 0 0;
    }

    .delivery__img-item  {
        width: 100%;
        &:first-of-type {
            margin-top: 0;
        }
    }

    #delivery__img-screenshot {
        text-align: left;
        position: absolute;
        bottom: -50%;
        left: 0;

    }

    .delivery__img-item > :nth-of-type(3) {
        text-align: right;
    }
    .delivery__img-item > :nth-of-type(1) {
        text-align: center;
    }
    .delivery__img-item > :nth-of-type(2) {
        margin-bottom: 0px;
    }
}

//=======================delivery-section-END========================================


//=======================QR-section-START========================================

.page__QR {
    margin-top: 150px;
}

.QR__body {
    display: flex;
    column-gap: 85px;

    padding: 65px;

    background-color: #B6DDB7;
    border-radius: 30px;
}

.QR__title {
    font-weight: 500;
    font-size: 42px;
    line-height: 130%;

    color: var(--black);
}
.QR__description {
    font-weight: 400;
    font-size: 23px;
    line-height: 150%;

    color: var(--black);

    padding-top: 20px;
}

@media (max-width: 768px) {

    .page__QR {
        margin-top: 100px;
    }

    .QR__body {
        padding: 70px 30px;
        border-radius: 0;

        column-gap: 20px;
    }

    .QR__title {
        font-size: 35px;
    }
    .QR__description {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .page__QR {
        margin-top: 70px;
    }

    .QR__body {
        flex-wrap: wrap;
        justify-content: center;
        
        & > div {
            flex: 1 1 100%;
        }
        & > :nth-child(2) {
            text-align: center;
        }
    }
    .QR__title {
        font-size: 30px;
    }

    .QR__description {
        padding: 30px 0px 46px 0px;
    }

    .QR__items img {
        max-width: 100%;
    }
}

//=======================QR-section-END========================================


//=======================getMore-section-START========================================

.page__getMore {
    margin-top: 150px;
}

.getMore__items {
    display: flex;
    column-gap: 30px;
}
.getMore__item {
    flex: 1 1 33.333%;
    &:nth-of-type(1) img {
        filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.1));
    }
    & img {
        max-width: 100%;
    }
}

.getMore__sup-title, .getMore__title-img {
    padding-bottom: 30px;
}

.getMore__title-img:last-of-type {
    padding-bottom: 0px;
}

.getMore__title-img:nth-of-type(1) {
    text-align: left;
}
.getMore__title-img:nth-of-type(2) {
    text-align: center;
}

.getMore__title {
    font-weight: 500;
    font-size: 42px;
    line-height: 130%;

    color: var(--black);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    padding-bottom: 133px;
}
.getMore__sup-title {
    position: relative;
    max-width: 300px;

    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    
    color: var(--black);

    padding-left: 40px;
}

.getMore__sup-title::before {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 26px;
    height: 26px;
    background-image: url(../img/icons/24px/heart.png);
    background-repeat: no-repeat;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (max-width: 768px) {
    .getMore__items {
        flex-wrap: wrap;
    }
    .getMore__item {
        &:nth-of-type(1) {
            flex: 1 1 100%;

            display: flex;
            flex-direction: row;
            column-gap: 20px;

            padding-bottom: 50px;
            & > :only-of-type {
                flex: 1 1 50%;
            }
        }
    }

    .getMore__title {
        font-size: 35px;
    }
}

@media (max-width: 576px) {
    .getMore__items {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .getMore__item {
        flex: 1 1 100%;

        &:nth-of-type(1) {
            flex-wrap: wrap;
            & > :only-child {
                flex: 1 1 auto;
            }
        }

        &:not(:first-of-type) {
            text-align: center;
        }

        &:not(:last-of-type) {
            padding-bottom: 40px;
        }
    }

    .getMore__title {
        padding-bottom: 40px;
    }

    .getMore__title-img:last-of-type {
        text-align: right;
    }
}

//=======================getMore-section-END========================================
//=======================footer-START========================================
.footer {
    background-color: var(--medium-green);

    padding: 80px 0px 70px 0px;
    margin-top: 150px;

    font-size: 14px;
    line-height: 150%;

    color: #fff;
}


.footer__items {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .footer {
        margin-top: 100px;
    }

    .footer__items {
        flex-wrap: wrap;
    }
    .footer__item:not(:last-of-type) {
        flex: 1 1 33.333%;
    }
    .footer__item:nth-of-type(4) {
        display: flex;
        justify-content: space-between;
        column-gap: 5px;

        width: 100%;

        padding-top: 30px;
    }
}
.footer__socialNetworks {
    a {
        display: inline-block;
        padding-right: 30px;
    }    
}

@media (max-width: 576px) {

    .footer__items {
        display: block;
    }

    .footer__email {
        padding: 40px 0 20px 0;
    }
    .footer__socialNetworks {
        padding: 0px 0 20px 0;
    }

}

.footer__title {
    font-size: 18px;
    line-height: 150%;

    color: inherit;

    padding-bottom: 23px;
}

.footer__email {
    font-size: 18px;

    padding-bottom: 50px;
}



.footer {
    .footer__buttons {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .button__body {
        max-width: 169px;
        max-height: 45px;
    }

    .button__items {
        display: flex;
    }
    .button__logo > img {
        margin-left: 26px;
    }
    ._google .button__logo {
        &:nth-of-type(1) {
            transform: translateY(15%);
        }
    }
}

.footer__publicOffer, .footer__privacyPolicy {
    padding-bottom: 25px;
}

.select-wrapper {
    position: relative;
    &::after {
        content:""; 
        width: 12px;
        height: 12px;
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        background-color: transparent;
        left: 120px;
        position: absolute;
        top:40%;
        transform: translateY(-50%) rotate(-45deg);
        pointer-events: none;
    }
}

.languages {
    appearance: none;
    color: #fff;
    background-color: var(--medium-green);
    outline: none;
    padding: 7px 44px 7px 10px;
    border: 1px solid rgba(136, 189, 151, 0.22);
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}
//=======================footer-END=======================================